/* Formatting for body of all pages */
body {
	background-color: lightblue;	
	margin: 0px;
}

/* Formatting for title */
h1.title {
	color: red;
	text-align: center;
	background-color: blue;
	font-family: verdana;
	font-size: 30px;
	padding: 10px;
	margin-top: 0px;
	margin: 0px;
	

	
}
/* Formatting of Navigation bar */
li.Links {
	list-style-type: none;	
	float: left;
	display: block;
	padding: 10px;
	background-color: lightgreen;
	border: 5px solid blue;
}	
li.Links a {
	text-decoration: none;
	color: black
	
}

/* Formatting for main content */
#content {
	padding-top: 30px;
	margin: 40px;
	font-family: verdana;
	font-size: 16px;
}
span.party {
	color: green;
	
}
p.facts {
	position: absolute;
	right: 275px;
	left: 975px;

	bottom: 75px;
	padding: 18px
}
.Info, .Info1 {
	width: 675px;
	font-size: 12px;	
	border: 5px solid black;
	padding: 10px;
	box-shadow: 10px 10px 5px grey;
	
}
/* Formatting of list on welcome page */
li.Figures {
	font-family: verdana;
	font-size: 15px;
}
/* Formatting for images on Welcome page */

#pictures {
	position: absolute;
bottom: 220px;
left: 60px;
	
}
#pictures img{
border: 5px solid black;
}
/* Formatting of pictures not on welcome page */
#MT {
background-color: lightblue;
	position: absolute;
	text-align: center;
	border: 5px solid red;
	right: 350px;
	top: 200px;
	
}
#MT img {
 margin: 56px;
}
/* Formatting of form elements */
form {
	width: 635px;
	position: absolute;
	top: 225px;
	right: 200px;
	background-color: lightgrey;
}
input[type=text]{
	border: 3px solid black;
	border-radius: 5px;
	width: 575px;
}

input[type=submit], input[type=reset] {
	border: 3px solid black;
	border-radius: 5px;
	background-color: red;
	padding: 5px;
	width: 285px;
}


/* Formatting of footer*/
#footer { 
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  text-align: center;
}